<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:b="http://bootsfaces.net/ui">

	<ui:composition template="/views/templates/sites/main_site_template.xhtml">
			<ui:define name="title">#{la['verificator.title']} | #{la['application.name']}</ui:define>
			
			
			<ui:define name="content">
							
							<b:row>
								<b:column>
									<b:messages style=""/>
								</b:column>
							</b:row>
							
							<b:row>
								<b:column>
									<!-- ##################### BEGIN ############################# -->
									<b:panel look="info" title="#{la['verificator.panel.title']}" styleClass="default-margin-top" rendered="#{verificatorController.begin}">
										<p>#{la['verificator.panel.begin.welcome']} #{sessionScope['member'].firstname} (#{sessionScope['member'].username}), #{la['verificator.panel.begin.info']} (#{sessionScope['member'].email}).</p>
										<b:row>
											<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" >
												<h:form>
													<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4" action="#{verificatorController.sentEmail()}"
															  offset-lg="4" offset-md="4" offset-sm="4" offset-xs="4"	  
															  value="#{la['verificator.panel.begin.button.sent']}" look="success">
													</b:commandButton>
												</h:form>
											</b:column>
											
										</b:row>
									</b:panel>
									<!-- ###################### END ############################## -->
									<b:panel look="success" title="#{la['verificator.panel.title']}" styleClass="default-margin-top" rendered="#{verificatorController.end}">
										<p>#{la['verificator.panel.end.send.success.begin']} #{sessionScope['member'].email} #{la['verificator.panel.end.send.success.end']}</p>
										<b:row>
											<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" >
												<h:form>
													<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4" rendered="#{verificatorController.reset}"
													offset-lg="4" offset-md="4" offset-sm="4" offset-xs="4"	action="#{verificatorController.resetVerification()}"  
													value="#{la['verificator.panel.end.button.reset']}" look="warning">
													</b:commandButton>
													<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4" rendered="#{!verificatorController.reset}"
													offset-lg="4" offset-md="4" offset-sm="4" offset-xs="4"	action="#{verificatorController.resetEmail()}"  
													value="#{la['verificator.panel.end.button.email']}" look="warning">
													</b:commandButton>
												</h:form>
											</b:column>
										</b:row>
									</b:panel>
									<!-- ##################### EMAIL ############################# -->
									<b:panel look="success" title="#{la['verificator.panel.title']}" styleClass="default-margin-top" rendered="#{verificatorController.emailEdit}">
										<p>#{la['verificator.panel.email.info']}</p>
										<b:row>
											<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" >
												<h:form id="input_form">
												
													<b:row>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" styleClass="reset-padding">
															<b:inputText id="email" placeholder="#{la['verificator.panel.email.address']}" 
																		 value="#{verificatorController.email}" ajax="true" update="m_email" 
																		 autocomplete="false" validator="emailValidator"  immediate="true"
																		 col-lg="8" col-md="8" col-sm="8" col-xs="8"
																		 offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2" >
																<f:facet name="prepend" >
																	<b:icon name="envelope" ></b:icon>
																</f:facet>
															</b:inputText>
														</b:column>
														
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" styleClass="default-margin-bottom">
															<b:message id="m_email" for="email" 
																	   col-lg="6" col-md="6" col-sm="6" col-xs="6"
																	   offset-lg="3" offset-md="3" offset-sm="3" offset-xs="3">
															</b:message>
														</b:column>
													</b:row>
													
													<b:row>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" styleClass="reset-padding">
															<b:inputText id="confirm_email" placeholder="#{la['verificator.panel.email.confirm_address']}" 
																		 value="#{verificatorController.confirmEmail}" ajax="true" immediate="true"
																		 autocomplete="false" update="m_confirm_email" validator="emailIdenticalValidator"
																		 col-lg="8" col-md="8" col-sm="8" col-xs="8" 
																		 offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2" >
																		 <f:param name="email_attr" value="#{verificatorController.email}"/>
																<f:facet name="prepend">
																	<b:icon name="check"></b:icon>
																</f:facet>
															</b:inputText>
														</b:column>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" styleClass="default-margin-bottom">
															<b:message id="m_confirm_email" for="confirm_email" 
																	   col-lg="6" col-md="6" col-sm="6" col-xs="6"
																	   offset-lg="3" offset-md="3" offset-sm="3" offset-xs="3">
															</b:message>
														</b:column>
														
													</b:row>
													
													<b:row>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
															<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4" action="#{verificatorController.editEmail()}"
																			 offset-lg="8" offset-md="8" offset-sm="8" offset-xs="8" 
																			 look="success" value="#{la['verificator.panel.begin.button.sent']}">
															</b:commandButton>
														</b:column>
													</b:row>
												</h:form>
											</b:column>
										</b:row>
									</b:panel>
								
								</b:column>
							</b:row>
				
			</ui:define>
			<ui:define name="script">
				
			</ui:define>
			<ui:define name="style">
				<h:outputStylesheet library="css" name="sites/verificator_style.css"/>
			</ui:define>
	</ui:composition>

</html>