<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="../templates/sites/main_site_template.xhtml">

	<ui:define name="title">#{la['account.title']} | #{la['application.name']}</ui:define>
	<ui:define name="content">

		<h:outputStylesheet library="css" name="apis/cropper/cropper.css" />
		<h:outputStylesheet library="css" name="apis/cropper/main.css" />
		<f:metadata>
			<f:viewAction action="#{accountController.onload()}" />
		</f:metadata>
		<b:container fluid="true" id="account-container">


			<b:modal id="modal" title="#{la['account.image.title']}"
				styleClass="modalPseudoClass">
				<div class="modal-body">
					<div>
						<b:image id="image" library="img"
							name="users/#{sessionScope['member'].username}/#{sessionScope['member'].avatarpath}" />
					</div>
					<div>
						<div id="result" class="preview preview-sm"></div>
					</div>
				</div>
				<f:facet name="footer">
					<form action="/coffee-bean-blog-web/views/account/imageUploader"
						method="post">
						
						<textarea name="image_file" style="display: none;"
							class="form-control" id="dataURL" rows="10"></textarea>

						<label class="btn btn-primary" for="inputImage"
							title="Bild Upload">#{la['account.image.search']}e<input type="file"
							class="sr-only" id="inputImage" name="file"
							accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" />
						</label> 
						
						<input type="submit" class="btn btn-success" id="button"
							value="#{la['account.image.save']}" />

						<button class="btn btn-default" data-dismiss="modal">#{la['account.image.cancel']}</button>

					</form>

				</f:facet>
			</b:modal>

			<b:row>
				<b:column col-lg="3" col-md="3" col-sm="12" col-xs="12"
					style="margin-top: 25px;">
					<b:row>
						<b:column id="avatar-col" col-lg="12" col-md="12" col-sm="12"
							col-xs="12">
							<b:image library="img"
								name="users/#{sessionScope['member'].username}/#{sessionScope['member'].avatarpath}"
								col-lg="10" col-md="10" col-sm="4" col-xs="4" offset-lg="1"
								offset-md="1" offset-sm="4" offset-xs="4" />
						</b:column>
					</b:row>
					<b:row style="margin-top: 10px; margin-bottom: 15px;">
						<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
							<b:button value="#{la['account.image.edit']}" look="warning"
								onclick="$('.modalPseudoClass').modal();" size="xs" col-lg="10"
								col-md="10" col-sm="4" col-xs="4" offset-lg="1" offset-md="1"
								offset-sm="4" offset-xs="4" />
						</b:column>
					</b:row>
				</b:column>

				<b:column col-lg="9" col-md="9" col-sm="12" col-xs="12">
					<b:messages id="main_message" />
					<!-- ######################## MEMBER INFO ############################# -->
					<b:row style="margin-top: 20px;">
						<!-- ######################## MEMBER INFO VIEW ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.member.info.title']}" look="primary"
								id="member-info-panel"
								rendered="#{!accountController.editMemberInfo}">
								<h:form>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.member.info.firstname']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText
												value="#{accountController.currentMember.firstname}"
												style="color: green;" />
										</b:column>
									</b:row>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.member.info.lastname']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText
												value="#{accountController.currentMember.lastname}"
												style="color: green;" />
										</b:column>
									</b:row>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.member.info.birthday']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText value="#{accountController.birthday}"
												style="color: green;">
												<f:convertDateTime timeZone="CET" pattern="dd. MMMM yyyy" />
											</h:outputText>
										</b:column>
									</b:row>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.member.info.discription']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText
												value="#{accountController.currentMember.discription}"
												style="color: green;" />
										</b:column>
									</b:row>
									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-xs="9" offset-sm="9" offset-md="9" offset-lg="9">
											<b:commandButton value="#{la['account.info.button.edit']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditMemberInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
						<!-- ######################## MEMBER INFO EDIT ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.member.info.title']}" look="warning"
								rendered="#{accountController.editMemberInfo}">
								<h:form id="info_form">
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
											style="">
											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.member.info.firstname']}:" for="firstname-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputText
														value="#{accountController.currentMember.firstname}"
														id="firstname-edit" update="m-firstname-edit" ajax="true"
														validator="lengthFirstnameValidator"></b:inputText>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-firstname-edit" for="firstname-edit" />
												</b:column>
											</b:row>

											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.member.info.lastname']}:" for="lastname-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputText
														value="#{accountController.currentMember.lastname}"
														id="lastname-edit" update="m-lastname-edit" ajax="true"
														validator="lengthLastnameValidator"></b:inputText>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-lastname-edit" for="lastname-edit" />
												</b:column>
											</b:row>

											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.member.info.birthday']}:" for="birthday-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:datepicker id="birthday-edit" change-month="true"
														change-year="true" value="#{accountController.birthday}">
													</b:datepicker>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
													<b:message id="m-birthday-edit" for="birthday-edit" />
												</b:column>
											</b:row>

											<b:row style="margin-top: 10px;">
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.member.info.discription']}:" for="aboutme-edit"
														style=" position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputTextarea id="aboutme-edit"
														value="#{accountController.currentMember.discription}"></b:inputTextarea>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
													<b:message id="m-aboutme-edit" for="aboutme-edit" />
												</b:column>
											</b:row>

										</b:column>
									</b:row>
									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-lg="6" offset-md="6" offset-sm="6" offset-xs="6">
											<b:commandButton value="#{la['account.info.button.save']}" look="success" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												action="#{accountController.saveMemberInfo()}"></b:commandButton>
										</b:column>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3">
											<b:commandButton value="#{la['account.info.button.cancel']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditMemberInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
					</b:row>

					<!-- ######################## ACCOUNT INFO ############################# -->
					<b:row>
						<!-- ######################## ACCOUNT INFO VIEW ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.info.title']}" look="primary"
								rendered="#{!accountController.editAccountInfo}">
								<h:form>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.info.username']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText value="#{sessionScope['member'].username}"
												style="color: green;" />
										</b:column>
									</b:row>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.info.email']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText value="#{sessionScope['member'].email}"
												style="color: green;" />
										</b:column>
									</b:row>
									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-xs="9" offset-sm="9" offset-md="9" offset-lg="9">
											<b:commandButton value="#{la['account.info.button.edit']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditAccountInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
						<!-- ######################## ACCOUNT INFO EDIT ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.info.title']}" look="warning"
								rendered="#{accountController.editAccountInfo}">
								<h:form id="input_form">
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
											style="">
											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.info.username']}:" for="username-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputText disabled="true"
														value="#{accountController.currentMember.username}"
														id="username-edit" update="m-username-edit" ajax="true"></b:inputText>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-username-edit" for="username-edit" />
												</b:column>
											</b:row>

											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.info.email']}:" for="email-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputText
														value="#{accountController.currentMember.email}"
														id="email-edit" update="m-email-edit" ajax="true"
														validator="emailExistValidator"></b:inputText>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-email-edit" for="email-edit" />
												</b:column>
											</b:row>

										</b:column>
									</b:row>
									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-lg="6" offset-md="6" offset-sm="6" offset-xs="6">
											<b:commandButton value="#{la['account.info.button.save']}" look="success" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												action="#{accountController.saveAccountInfo()}"></b:commandButton>
										</b:column>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3">
											<b:commandButton value="#{la['account.info.button.cancel']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditAccountInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
					</b:row>
					<!-- ######################## PASSWORD INFO ############################# -->
					<b:row>
						<!-- ######################## PASSWORD INFO VIEW ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.password.title']}" look="primary"
								rendered="#{!accountController.editPasswordInfo}">
								<h:form>
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
											offset-xs="1" offset-sm="1" offset-md="1" offset-lg="1">
											<h:outputText value="#{la['account.password.name']}:" />

										</b:column>
										<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
											<h:outputText value="********" style="color: green;" />
										</b:column>
									</b:row>
									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-xs="9" offset-sm="9" offset-md="9" offset-lg="9">
											<b:commandButton value="#{la['account.info.button.edit']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditPasswordInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
						<!-- ######################## PASSWORD INFO EDIT ############################# -->
						<b:column style="">
							<b:panel title="#{la['account.password.title']}" look="warning"
								rendered="#{accountController.editPasswordInfo}">
								<h:form id="form">
									<b:row style="margin-bottom: 10px;">
										<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
											style="">
											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.password.name.old']}:"
														for="old-password-edit"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputSecret value="#{accountController.oldPassword}"
														id="old-password-edit" update="m-old-password-edit"
														ajax="true"></b:inputSecret>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-old-password-edit" for="old-password-edit" />
												</b:column>
											</b:row>

											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.password.name.new']}:" for="password"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputSecret value="#{accountController.newPassword}"
														id="password" update="m-new-password-edit" ajax="true"
														validator="passwordValidator"></b:inputSecret>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-new-password-edit" for="password" />
												</b:column>
											</b:row>

											<b:row>
												<b:column col-xs="5" col-sm="5" col-md="5" col-lg="5"
													offset-lg="1" offset-md="1" offset-sm="1" offset-xs="1"
													style="height: 38px;">
													<h:outputText value="#{la['account.password.name.confirm']}:"
														for="confirm_password"
														style="position: absolute; top: 50%; -webkit-transform: translateY(-50%); 
													-ms-transform: translateY(-50%); transform: translateY(-50%);" />
												</b:column>

												<b:column col-xs="6" col-sm="6" col-md="6" col-lg="6">
													<b:inputSecret value="#{accountController.confirmPassword}"
														id="confirm_password"
														validator="passwordIdenticalValidator"
														update="m-confirm-password" ajax="true"></b:inputSecret>
												</b:column>
												<b:column col-xs="12" col-sm="12" col-md="12" col-lg="12"
													style="margin-bottom: 15px;">
													<b:message col-xs="9" col-sm="9" col-md="9" col-lg="9"
														offset-lg="2" offset-md="2" offset-sm="2" offset-xs="2"
														id="m-confirm-password" for="confirm_password" />
												</b:column>
											</b:row>

										</b:column>
									</b:row>


									<b:row>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3"
											offset-lg="6" offset-md="6" offset-sm="6" offset-xs="6">
											<b:commandButton value="#{la['account.info.button.save']}" look="success" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												action="#{accountController.savePasswordInfo()}"></b:commandButton>
										</b:column>
										<b:column col-xs="3" col-sm="3" col-md="3" col-lg="3">
											<b:commandButton value="#{la['account.info.button.cancel']}" look="warning" size="xs"
												col-xs="12" col-sm="12" col-md="12" col-lg="12"
												immediate="true"
												action="#{accountController.changeEditPasswordInfo()}"></b:commandButton>
										</b:column>
									</b:row>
								</h:form>
							</b:panel>
						</b:column>
					</b:row>
				</b:column>

			</b:row>
		</b:container>

		<h:outputScript library="js" name="apis/cropper/cropper.js" />
		<h:outputScript library="js" name="apis/cropper/main.js" />
	</ui:define>
	<ui:define name="style">
	</ui:define>
</ui:composition>

</html>