<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:b="http://bootsfaces.net/ui"> 

<h:head>
	<meta charset="utf-8" />
	<title><ui:insert name="title">Java Beans Blog</ui:insert></title>
</h:head> 
<h:body>
	<b:container id="main_container">
		
		<ui:insert name="header">
			<ui:include src="../elements/header_template.xhtml" />
		</ui:insert>
			
		
		<b:container fluid="true">
			<b:row>
				<b:column col-lg="9" col-md="9" col-sm="12" col-xs="12" style="">
					<ui:insert name="content">
						Kein Inhalt definiert!!!
					</ui:insert>
				</b:column>
			
				<b:column col-lg="3" col-md="3" col-sm="12" col-xs="12" style="margin-bottom: 20px;">
					<ui:insert name="control">
						<ui:include src="../elements/content_control_template.xhtml" />
					</ui:insert>
				</b:column>
			</b:row>
		</b:container>
		
		<ui:insert name="footer">
			<ui:include src="../elements/footer_template.xhtml"></ui:include>
		</ui:insert>
		
		<h:outputStylesheet library="css" name="sites/main_template_style.css"/>
		
		<ui:insert name="scripts">
		</ui:insert>
		<ui:insert name="style">
		</ui:insert>
	</b:container>
</h:body> 
</html>