/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.02.2017, 03:42:32
    Author     : dkscoder
*/



img {
    max-width: 100%;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

.preview-sm {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    overflow:hidden;
}
.preview {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -5px;

}
.modal-footer{
    border-top: 1px solid gray;
}

#avatar-col {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.avatarClass{
    width: 100%;
    height: 100%;
}

