<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:b="http://bootsfaces.net/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="../templates/sites/main_site_template.xhtml">
	<f:metadata>
		<f:viewAction action="#{postController.onload()}" />
	</f:metadata>
	<ui:define name="title">Title</ui:define>
	<ui:define name="content">

		<b:row>
			<b:column col-lg="3" col-md="3" col-sm="3" col-xs="3">

				<b:image library="img"
					name="users/#{postController.currentPost.author.username}/#{postController.currentPost.author.avatarpath}"
					col-lg="12" col-md="12" col-sm="12" col-xs="12"
					style="width:90%; height: 90%; " />

			</b:column>

			<b:column col-lg="9" col-md="9" col-sm="9" col-xs="9">

				<b:row>
					<b:column col-lg="6" col-md="6" col-sm="6" col-xs="6">

						<b:row>
							<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
								style="">
								<h:outputText value="Author: " style="color: orange;" />
								<h:outputText
									value="#{postController.currentPost.author.username}" />
							</b:column>

							<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
								<h:outputText value="Erstellt am: : " style="color: orange; " />
								<h:outputText
									value="#{postController.currentPost.createddate}">
									<f:convertDateTime timeZone="CET" pattern="dd.MM.yyyy hh:mm" />
								</h:outputText>
							</b:column>

							<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
								<h:outputText value="Bearbeitet am: " style="color: orange; " />
								<h:outputText
									value="#{postController.currentPost.updateddate}">
									<f:convertDateTime timeZone="CET" pattern="dd.MM.yyyy hh:mm" />
								</h:outputText>
							</b:column>

						</b:row>

					</b:column>

					<b:column col-lg="6" col-md="6" col-sm="6" col-xs="6">

						<b:row>

							<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
								style="margin-bottom: 5px;">
								<h:outputText value="Kategorien"
									style="font-size: 14px; color: orange;" />
							</b:column>

							<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
								style="font-size: 12px;">
								<ui:repeat
									value="#{of:setToList(postController.currentPost.categories)}"
									var="category" varStatus="loop">
									<h:form style="float: left;">
										<h:commandLink update="post_form"
											value="#{category.categoryname}" />&#160;&#160;
	    														</h:form>
								</ui:repeat>
							</b:column>
						</b:row>

					</b:column>
				</b:row>

			</b:column>
		</b:row>

		<b:row>

			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
				style="text-align: center;">
				<h2>#{postController.currentPost.title}</h2>
			</b:column>

		</b:row>

		<b:row>

			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
				style="text-align: center;">
				<h5>#{postController.currentPost.discription}</h5>
			</b:column>

		</b:row>

		<b:row>

			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
				style="text-align: center;">
				<h:outputText value="#{postController.currentPost.content}" escape="false"/>
				
			</b:column>

		</b:row>

		<b:row>

			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
				style="text-align: center;">
				<ui:repeat
					value="#{of:setToList(postController.currentPost.items)}"
					var="item" varStatus="loop">
					<b:row>
						<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
							style="text-align: center; margin-bottom: 15px;">
							<h:outputText value="#{item.content}" escape="false"/>
						</b:column>
					</b:row>
				</ui:repeat>
			</b:column>

		</b:row>

	</ui:define>
	<ui:define name="control">

		<b:row>
			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
				rendered="#{postController.authored}">
				<h:form>
					<b:commandButton col-lg="12" col-md="12" col-sm="12" col-xs="12" look="success" value="Erstellen" style="margin-bottom: 5px;"></b:commandButton>
					<b:commandButton col-lg="12" col-md="12" col-sm="12" col-xs="12" look="warning" value="Bearbeiten" action="#{postController.edit()}" style="margin-bottom: 5px;"></b:commandButton>
					<b:commandButton col-lg="12" col-md="12" col-sm="12" col-xs="12" look="danger" value="Löschen" action="#{postController.delete()}" style=""></b:commandButton>
				</h:form>
			</b:column>
		</b:row>

	</ui:define>

</ui:composition>

</html>