<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="../templates/sites/main_site_template.xhtml">
	<ui:define name="title">Title</ui:define>
	<ui:define name="content">
		<b:row>
			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">


				<h:form>
					<b:row>
						<b:column col-lg="3" col-md="3" col-sm="12" col-xs="12">
							<h:outputLabel value="Titel" />
						</b:column>

						<b:column col-lg="9" col-md="9" col-sm="12" col-xs="12">
							<b:inputText value="#{postController.currentPost.title}" />
						</b:column>
					</b:row>
					<b:row>
						<b:column col-lg="3" col-md="3" col-sm="12" col-xs="12">
							<h:outputLabel value="Beschreibung" />
						</b:column>

						<b:column col-lg="9" col-md="9" col-sm="12" col-xs="12">
							<b:inputText value="#{postController.currentPost.discription}" />
						</b:column>
					</b:row>
					<b:row>
						<b:column col-lg="3" col-md="3" col-sm="12" col-xs="12">
							<h:outputLabel value="Content" />
						</b:column>

						<b:column col-lg="9" col-md="9" col-sm="12" col-xs="12">
							<b:inputTextarea style="height: 900px;"
								value="#{postController.currentPost.content}" />
						</b:column>
					</b:row>
					<b:row>
						<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
							<b:commandButton look="success"
							col-lg="3" col-md="3" col-sm="3" col-xs="3" 
							offset-lg="9" offset-md="9" offset-sm="9" offset-xs="9"
							action="#{postController.savePost()}" value="Speicher" />
						</b:column>
					</b:row>
				</h:form>




			</b:column>
		</b:row>
	</ui:define>
	<ui:define name="control">Header</ui:define>
</ui:composition>

</html>