<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:b="http://bootsfaces.net/ui" 
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">




<ui:composition
	template="/views/templates/sites/main_site_template.xhtml">
	<f:metadata>
		<f:viewAction action="#{indexController.onload()}" />
	</f:metadata>
	<ui:define name="title">#{la['index.title']} | #{la['application.name']}</ui:define>
	<ui:define name="content">
		<b:messages></b:messages>
		<b:row>
			<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">

				<h:form id="post_form">

					<b:dataTable style="width: 100%;" style-class="searchable"
						lang="de" value="#{indexController.posts}" var="post"
						paginated="true" searching="false" page-length="5" page-length-menu="5, 10, 25"
						select="true" 
						onselect="ajax:indexController.onSelect(post, typeOfSelection, indexes)"
						selectionMode="single">
						<b:dataTableColumn header-style="hidden"
							header-style-class="hidden" >
							<b:row>
								<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
									style="height: 100%;">
									<b:row>
										<b:column col-lg="2" col-md="2" col-sm="4" col-xs="4" style="">
											<b:image library="img"
												name="users/#{post.author.username}/#{post.author.avatarpath}"
												col-lg="12" col-md="12" col-sm="12" col-xs="12"
												style="width:90%; height: 90%; " />
										</b:column>

										<b:column col-lg="10" col-md="10" col-sm="8" col-xs="8"
											style="font-size: 10px;">
											<b:row>
												<b:column col-lg="6" col-md="6" col-sm="12" col-xs="12" style="margin-bottom: 10px;">

													<b:row>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
															style="">
															<h:outputText value="Author: " style="color: orange;" />
															<h:outputText value="#{post.author.username}" />
														</b:column>

														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
															<h:outputText value="Erstellt am: : "
																style="color: orange; " />
															<h:outputText value="#{post.createddate}">
																<f:convertDateTime timeZone="CET"
																	pattern="dd.MM.yyyy hh:mm" />
															</h:outputText>
														</b:column>

														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
															<h:outputText value="Bearbeitet am: "
																style="color: orange; " />
															<h:outputText value="#{post.updateddate}">
																<f:convertDateTime timeZone="CET"
																	pattern="dd.MM.yyyy hh:mm" />
															</h:outputText>
														</b:column>

													</b:row>

												</b:column>

												<b:column col-lg="6" col-md="6" col-sm="12" col-xs="12">

													<b:row>
														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
															style="margin-bottom: 5px;">
															<h:outputText value="Kategorien"
																style="font-size: 14px; color: orange;" />
														</b:column>

														<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
															style="font-size: 12px;">
															<ui:repeat value="#{of:setToList(post.categories)}"
																var="category" varStatus="loop">
																<h:form style="float: left;">
																	<h:commandLink update="post_form" action="#{indexController.postsByCategory(category)}" value="#{category.categoryname}" />&#160;&#160;
	    														</h:form>
															</ui:repeat>
														</b:column>
													</b:row>

												</b:column>
											</b:row>
										</b:column>
									</b:row>

									<b:row>
									
										<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" style="text-align: center;">
											<h2>#{post.title}</h2>
										</b:column>
										
									</b:row>
									
									<b:row>
									
										<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" style="text-align: center;">
											<h5>#{post.discription}</h5>
										</b:column>
										
									</b:row>
								</b:column>
							</b:row>
						</b:dataTableColumn>
					</b:dataTable>

				</h:form>


			</b:column>
		</b:row>


	</ui:define>
</ui:composition>
</html>