@CHARSET "UTF-8";

@font-face{
	font-family: 'OpenSans_Regular'; 
	src: url("/coffee-bean-blog-web/javax.faces.resource/font/Open_Sans/OpenSans-Regular.ttf.xhtml")format('ttf'); 
}

@font-face{
	font-family: 'OpenSans_Italic'; 
	src: url("/coffee-bean-blog-web/javax.faces.resource/font/Open_Sans/OpenSans-Italic.ttf.xhtml")format('ttf'); 
}

@font-face{
	font-family: 'OpenSans_Light'; 
	src: url("/coffee-bean-blog-web/javax.faces.resource/font/Open_Sans/OpenSans-Light.ttf.xhtml")format('ttf'); 
}

@font-face{
	font-family: 'OpenSans_Bold'; 
	src: url("/coffee-bean-blog-web/javax.faces.resource/font/Open_Sans/OpenSans-Bold.ttf.xhtml")format('ttf'); 
}

@font-face{
	font-family: 'LittleKid'; 
	src: url("/coffee-bean-blog-web/javax.faces.resource/font/LittleKid/LittleKid.otf.xhtml"); 
}

#main_container {
	font-family: 'OpenSans_Regular';
	margin-top: 10px;
}

.font-brand{
	font: 50px 'LittleKid';
}

#head_container {
	
	width: 100%;
}

#footer_container {
	height: 100px;
	width: 100%;
	background-color: white;
	border-radius: 3px;
}

@media ( max-width : 50em) {
	/* Breite beträgt höchstens 70em */
	#footer_container {
		height: 100px;
		width: 100%;
		background-color: #222222;;
		border-radius: 0px;
		text-align: left;
	}
}

@media ( min-width : 50em) {
	/* Breite beträgt höchstens 70em */
	#footer_container {
		height: 100px;
		width: 100%;
		background-color: #222222;;
		border-radius: 3px;
		text-align: left;
	}
}

#image-container{
	padding: 0; 
	margin-left: 1px; 
	margin-right: 1px; 
	margin-bottom: 10px;
}

#header_image{
	width:100%; 
	height: 20%; 
	padding: 0;
}

#impressum{
	color: white;
	font-size: 11px;
	
}

#contact{
	color: white;
	font-size: 11px;
}

#aboutme{
	color: white;
	font-size: 11px;
}

#linklist{
	width: 50%;
	margin-top: 10px;
	margin-left: 25%;
}

.username{
	font-size: 10px;
}
#forget_password_container{
	margin-top: 0;
	margin-bottom: 5px; 
}
	
.forget_password{
	color: white;
	font-size: 12px;
	padding-top: 10px;
}

.form-signin{
	margin-bottom: 5px;
}