<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:b="http://bootsfaces.net/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition>
	<b:row>
		<b:column col-lg="11" col-md="11" col-sm="12" col-xs="12"
			offset-lg="1" offset-md="1" style="">

			<b:row rendered="#{loginController.loggedIn}">
				<b:column style="margin-top: 20px;">
					<h5>Information</h5>
					<h:outputText value="Angemeldet als: " style="color: green;;" />
					<h:outputText value="#{sessionScope['member'].username}" />
				</b:column>
			</b:row>
			<b:row rendered="#{loginController.loggedIn}">
				<b:column style="margin-top: 0px;">
					<h:outputText value="Vorname: " style="color: green;;" />
					<h:outputText value="#{sessionScope['member'].firstname}" />
				</b:column>
			</b:row>
			<b:row rendered="#{loginController.loggedIn}">
				<b:column style="margin-top: 0px;">
					<h:outputText value="Nachname " style="color: green;;" />
					<h:outputText value="#{sessionScope['member'].lastname}" />
				</b:column>
			</b:row>
			<b:row rendered="#{loginController.loggedIn}">
				<b:column style="margin-top: 0px;">
					<h:outputText value="Geburtstag: " style="color: green;;" />
					<h:outputText value="#{sessionScope['member'].birthday}">
						<f:convertDateTime timeZone="CET" pattern="dd. MMMM yyyy" />
					</h:outputText>
				</b:column>
			</b:row>
			<b:row rendered="#{loginController.loggedIn}">
				<b:column style="margin-top: 0px;">
					<h:outputText value="Login: " style="color: green;;" />
					<h:outputText value="#{sessionScope['member'].lastLogout}">
						<f:convertDateTime pattern="dd.MM.yyyy hh:mm:ss" />
					</h:outputText>
				</b:column>
			</b:row>

			<b:row style="margin-top: 50px;">
				<b:column>
					<form>
						<h5>Suchen</h5>
						<input class="form-control" placeholder="Suchen..." id="filter"
							type="text" />
					</form>

				</b:column>
			</b:row>

			<b:row style="margin-top: 50px;">
				<b:column>
					<h5>Categories</h5>

					<ui:repeat value="#{indexController.categories}" var="value">
    					<h:form style="float: left;">
    						<h:commandLink update="@all" action="#{indexController.postsByCategory(value)}" value="#{value.categoryname}"/>&#160;&#160;
    					</h:form>
					</ui:repeat>
				</b:column>
			</b:row>

		</b:column>
		<h:outputScript library="js" name="sites/index/main.js" />
	</b:row>
</ui:composition>

</html>