<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:b="http://bootsfaces.net/ui">

<ui:composition>
	<b:container id="footer_container" >
		<div id="linklist">
		<ul>
		<li><h:link id="impressum" value="#{la['footer.impressum']}"/></li>
		<li><h:link id="contact" value="#{la['footer.contact']}"/></li>
		<li><h:link id="aboutme" value="#{la['footer.aboutme']}"/></li>
		
		</ul>
			<div style="text-align: center; margin-top: 0px; font-size: 10px;">
				#{la['footer.copyrigt']}
			</div>
		</div>
	</b:container>
	<b:container style="width: 100%; height: 15px;"/>
</ui:composition>

</html>