<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition>
	<b:container fluid="true" id="image-container">
		<b:carousel >
			<b:carouselItem>
     			<b:image id="header_image" library="img" name="banner/coffee_banner.png"  />
   			</b:carouselItem>
		</b:carousel>
	</b:container>
	<b:navBar brand="#{la['application.name']}" style="" brand-style="font-size: 50px;"
		brandHref="/coffee-bean-blog-web/views/index.xhtml" inverse="true"
		static="false" sticky="true" brand-style-class="font-brand">
		<b:navbarLinks>
			<b:navLink value="#{la['header.link.home']}"
				href="/coffee-bean-blog-web/views/index.xhtml"></b:navLink>
			<b:dropMenu value="#{la['header.link.member']}" rendered="#{loginController.memberVerified}">
				<b:navLink value="#{la['header.member.account']}"
				href="/coffee-bean-blog-web/views/account/account.xhtml"
				rendered="#{loginController.memberVerified}">
				</b:navLink>
				
				<b:navLink value="#{la['header.member.setting']}"
				href="#" 
				rendered="#{loginController.memberVerified}">
				</b:navLink>
				<b:navLink></b:navLink>
				
				<b:navLink value="#{la['header.member.admin']}"
				href="/coffee-bean-blog-web/views/account/admin/admin.xhtml"
				rendered="#{loginController.admin}">
				</b:navLink>
				<b:navLink></b:navLink>
			</b:dropMenu>
		</b:navbarLinks>
		<b:navbarLinks pull="right" style="margin-right: 0px;">
			<b:navLink value="#{la['header.link.verification']}"
			href="/coffee-bean-blog-web/views/verification/verificator.xhtml"
			rendered="#{loginController.memberUnverified}">
			</b:navLink>
			<b:dropMenu value="#{la['header.link.login']}" rendered="#{!loginController.loggedIn}">
				<b:container style="width: 20em;">

					<h:form styleClass="form-signin" prependId="false">
						<h6 class="form-signin-heading">#{la['header.login.title']}</h6>

						<b:inputText value="#{loginController.username}" id="username" style="font-size: 12px;"
							placeholder="#{la['header.login.username']}">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>

						<b:inputSecret  value="#{loginController.password}" id="password" style="font-size: 12px;"
							placeholder="#{la['header.loging.password']}" >
							<f:facet name="prepend">
								<b:iconAwesome name="key" />
							</f:facet>
						</b:inputSecret>

						<div id="forget_password_container">
							<a class="forget_password" href="/coffee-bean-blog-web/views/password/recovery.xhtml">#{la['header.login.forget']}</a>
						</div>
						
						<b:commandButton look="success btn-block" value="#{la['header.login.button.login']}"
							icon="log-in" size="sm" action="#{loginController.login()}" />
					</h:form>
					<b:button look="warning btn-block" icon-awesome="user-plus" size="sm" value="#{la['header.login.button.register']}"
						onclick="window.location.href='/coffee-bean-blog-web/views/register.xhtml'"></b:button>
					<br />
				</b:container>
			</b:dropMenu>
			<b:dropMenu value="#{la['header.link.logout']}" rendered="#{loginController.loggedIn}">
				<b:container style="width: 200px;">
					<h:form styleClass="form-signin" prependId="true">
						<h6 class="form-signin-heading">#{la['header.logout.title']}</h6>
						<b:commandButton look="danger btn-block" value="#{la['header.logout.button.logout']}"
							icon="log-out" size="sm" action="#{loginController.logout()}" />
					</h:form>
				</b:container>
			</b:dropMenu>
		</b:navbarLinks>
	</b:navBar>
</ui:composition>

</html>