<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:b="http://bootsfaces.net/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="../templates/sites/main_site_template.xhtml">
	<ui:define name="title">#{la['password.recovery.title']} | #{la['application.name']}</ui:define>
	<ui:define name="content">

		<b:row>
			<b:column>
				<b:messages/>
			</b:column>
		</b:row>

		<b:row>
			<b:column>
				<!-- ##################### BEGIN ############################# -->
				<b:panel look="info" title="#{la['password.recovery.panel.begin.title']}"
					styleClass="default-margin-top" rendered="#{passwordRecoveryController.begin}">
					<p>#{la['password.recovery.panel.begin.info']}</p>
					<b:row>
						<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
							<h:form id="input_form">

								<b:row>
									<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
										styleClass="reset-padding">
										<b:inputText id="email"
											placeholder="#{la['password.recovery.panel.begin.input.email']}"
											value="#{passwordRecoveryController.email}" ajax="true"
											update="m_email" autocomplete="false"
											validator="emailExistValidator" immediate="true" col-lg="8"
											col-md="8" col-sm="8" col-xs="8" offset-lg="2" offset-md="2"
											offset-sm="2" offset-xs="2">
											<f:facet name="prepend">
												<b:icon name="envelope"></b:icon>
											</f:facet>
										</b:inputText>
									</b:column>

									<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12"
										styleClass="default-margin-bottom">
										<b:message id="m_email" for="email" col-lg="6" col-md="6"
											col-sm="6" col-xs="6" offset-lg="3" offset-md="3"
											offset-sm="3" offset-xs="3">
										</b:message>
									</b:column>
								</b:row>
								<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4"
									action="#{passwordRecoveryController.sendMail()}" offset-lg="4"
									offset-md="4" offset-sm="4" offset-xs="4" value="#{la['password.recovery.panel.begin.button.send']}"
									look="success">
								</b:commandButton>
							</h:form>
						</b:column>

					</b:row>
				</b:panel>

				<!-- ###################### END ############################## -->
				<b:panel look="info" title="#{la['password.recovery.panel.end.title']}"
					styleClass="default-margin-top" rendered="#{passwordRecoveryController.end}">
					<p>#{la['password.recovery.panel.end.info']}</p>
					<b:row>
						<b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
							<h:form>
								<b:commandButton col-lg="4" col-md="4" col-sm="4" col-xs="4"
									offset-lg="4" offset-md="4" offset-sm="4" offset-xs="4"
									value="#{la['password.recovery.panel.end.button.support']}" look="success">

								</b:commandButton>
							</h:form>
						</b:column>

					</b:row>
				</b:panel>

				<!-- #################### PASSWORD ########################### -->
				<b:panel look="info" title="#{la['password.recovery.panel.edit.title']}"
					styleClass="default-margin-top" rendered="#{passwordRecoveryController.edit}">
					<p>#{la['password.recovery.panel.edit.info']}</p>
					<b:row>
						<h:form id="form">
							<b:row>
								<b:column col-lg="12" col-sm="12" col-md="12" col-xs="12">
									<b:inputSecret col-lg="8" col-sm="8" col-md="8" col-xs="8"
											offset-lg="2" offset-sm="2" offset-md="2" offset-xs="2"
											placeholder="#{la['password.recovery.panel.edit.input.password']}" id="password"
											value="#{passwordRecoveryController.password}" ajax="true"
											autocomplete="false" update="m_password"
											validator="passwordValidator">
											<f:facet name="prepend">
												<b:iconAwesome name="key" />
											</f:facet>
									</b:inputSecret>
								</b:column>
								<b:column col-lg="6" col-sm="6" col-md="6" col-xs="6"
									offset-lg="3" offset-sm="3" offset-md="3" offset-xs="3"
										styleClass="default-margin-bottom">
									<b:message id="m_password" for="password" />
								</b:column>
							</b:row>

							<b:row>
								<b:column col-lg="12" col-sm="12" col-md="12" col-xs="12">
									<b:inputSecret col-lg="8" col-sm="8" col-md="8" col-xs="8"
											offset-lg="2" offset-sm="2" offset-md="2" offset-xs="2"
											placeholder="#{la['password.recovery.panel.edit.input.password.confirm']}" id="confirm_password" validator="passwordIdenticalValidator"
											value="#{passwordRecoveryController.confirmPassword}" ajax="true"
											autocomplete="false" update="m_confirm_password">
										<f:facet name="prepend">
											<b:iconAwesome name="key" />
										</f:facet>
									</b:inputSecret>
								</b:column>
								<b:column col-lg="6" col-sm="6" col-md="6" col-xs="6"
									offset-lg="3" offset-sm="3" offset-md="3" offset-xs="3"
									styleClass="default-margin-bottom">
									<b:message id="m_confirm_password" for="confirm_password"/>
								</b:column>
							</b:row>

							<b:row>
								<b:column col-lg="4" col-md="4" col-sm="4" col-xs="4"
									offset-lg="4" offset-md="4" offset-sm="4" offset-xs="4">
									<b:commandButton value="#{la['password.recovery.panel.edit.button.send']}" action="#{passwordRecoveryController.editPassword()}" 
									look="success" style="width:100%">
									</b:commandButton>
								</b:column>
							</b:row>
						</h:form>

					</b:row>
				</b:panel>



			</b:column>
		</b:row>

	</ui:define>
	<ui:define name="script">
	</ui:define>
	<ui:define name="style">
		<h:outputStylesheet library="css" name="sites/recovery_style.css" />
	</ui:define>
</ui:composition>

</html>